<!doctype html>
<title>Bonus tasks template</title>

<!-- jQuery scripts can be inserted into head instead of body-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- jQuery UI Library -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
	integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
	crossorigin="anonymous">
</script>

<style>
	body {
	display: grid;
	grid-template-areas:
		"header header header"
		"nav article ads"
		"footer footer footer";
	grid-template-rows: 60px 1fr 100px;
	grid-template-columns: 15% 1fr 25%;
	grid-gap: 10px;
	margin: 0;
	}

	header,
	footer,
	article,
	aside,
	div {
	padding: 10px;
	background: gold;
	}

	#pageHeader {
	grid-area: header;
	}

	#pageFooter {
	grid-area: footer;
	}

	#mainArticle {
	grid-area: article;
	}

	#mainNav {
	grid-area: nav;
	}

	#siteAds {
	grid-area: ads;
	}
</style>

<script>
	$(document).ready(function () { // because of this row as it's run only after document tree is created
		$("#players").on("click", (event) => {
			$("#mainArticle").load("http://localhost:3003/players");
			event.preventDefault();
		});

		$("#series").on("click", (event) => {
			$("#mainArticle").load("http://localhost:3003/series");
			event.preventDefault();
		});
	});
</script>

<body>
	<header id="pageHeader">

	<!-- Title -->
	<table style="margin-left: auto;">
		<tr>
		<td>
			{{title}}
		</td>
		<td>
			<select>
				{{#each options}}
				<option value="{{this.id}}">{{this.information}}</option>
				{{/each}}
			</select>
		</td>
		</tr>
	</table>
	</header>

	<!-- Main article -->
	<article id="mainArticle">
		<p>Choose something from left list</p>
	</article>

	<!-- Series table and team choosing board -->
	<aside id="mainNav">
	<ul style="list-style: none;">
		<li><a href="" id="series">Series table</a></li>
		<li><a href="" id="players">Players and teams</a></li>
	</ul>
	</aside>

	<!-- Event lists -->
	<div id="siteAds">
	<p>Next events</p>
	<ul style="list-style: none;">
		{{#each events}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
	</div>

	<!-- Contancts -->
	<footer id="pageFooter">
	<div style="text-align: center">
		<p>Contact</p>
	</div>
	</footer>
</body>
